<h2 mat-dialog-title>{{ isEditMode ? 'Modifier un role' : 'Ajouter un role' }}</h2>
<mat-dialog-content>
  <form [formGroup]="roleForm">
    <div class="row">
      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>Libelle</mat-label>
          <input matInput placeholder="Libelle" formControlName="libelle" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <input matInput placeholder="Description" formControlName="description" required>
        </mat-form-field >
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button class="dialog-button" (click)="onNoClick()">Annuler</button>
  <button mat-button color="primary" class="dialog-button" (click)="onSaves()">{{ isEditMode ? 'Modifier' : 'Ajouter' }}</button>
</mat-dialog-actions>
