.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}



.sidebar-menu.disabled {
  pointer-events: none;
  color: #aaa; /* Couleur des liens désactivés */
  cursor: not-allowed;
}

.sidebar-menu.disabled:hover {
  text-decoration: none;
}



/* Add styles for the close button */
button.mat-icon-button {
  background: none; /* Remove the default button background */
  border: none; /* Remove the default button border */
  color: #000; /* Set icon color to black */
  cursor: pointer; /* Change cursor to pointer */
}

button.mat-icon-button:hover {
  color: #555; /* Change color on hover */
}

button.mat-icon-button.mat-icon-button {
  padding: 0; /* Remove default padding */
  margin-left: auto; /* Push button to the right */
}

