.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}



.sidebar-menu.disabled {
  pointer-events: none;
  color: #aaa; /* Couleur des liens désactivés */
  cursor: not-allowed;
}

.sidebar-menu.disabled:hover {
  text-decoration: none;
}
