.card {
    border-radius: 10px;
  }
  
  .card-body {
    display: flex;
    align-items: center;
  }
  
  .material-icons {
    font-size: 36px;
  }
  
  .card-title {
    margin-bottom: 0.5rem;
  }
  
  .card-text {
    margin-bottom: 0;
  }
  
  .font-weight-bold {
    font-weight: bold;
  }
  